<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ngTodo">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="Todo.js"></script>
    <script src="Utility.js"></script>
    <style>
        .done-true {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>
<body>
    <div ng-controller="todoController">

        <table border="1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Description</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody ng-repeat="todo in Todos">
                <tr>
                    <td><input type="checkbox" ng-model=todo.Done /></td>
                    <td><span class="done-{{todo.Done}}">{{todo.Desc}}</span></td>
                    <td>{{todo.DueDate | date:'fullDate'}}</td>
                </tr>
            </tbody>
        </table>
        <ng-pluralize count="Remaining()" when="Pluralizer"></ng-pluralize>

        <form ng-submit="AddToDo()">
            <input type="text" ng-model="TodoText" placeholder="add new todo here" />
            <input type="text" ng-model="TodoDueDate" placeholder="yyyy-MM-dd" />
            <input type="submit" value="add" />
            <br />
            <br />
            <input type="button" ng-click="RemoveCompleted()" value="Remove Completed Tasks" />
        </form>
        {{debugResponse}}
    </div>
</body>
</html>
